html{
    font-size: 62.5%;
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0;
    font-family:'mantserrat',sans-serif;
}


/* navbar */
.sidebar{
width: 8rem;
height: 100%;
background-color: #eee;
position: fixed;
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
z-index: 12;
}

.backdropVisible{
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    height: 160rem;
    width: 100%;
    z-index: 200;
    display: block;
}

.menu-icon{
margin-top: 3rem;
cursor: pointer;
}
label{
    font-size: 1.2rem;
    font-weight: 600;
}
.bookBtn{
    
    width:15rem;
    height:5rem;
    border: none;
    background: linear-gradient(to right, gold,goldenrod);
}
.bookBtn:hover{
    background: linear-gradient(to right,goldenrod, gold);
}
.bookHeader{
    font-size: 4rem;
    text-align: center;
}
.checkInModal P{
    font-size: 2rem;
}
.checkInModal{
    position: fixed;
    background-color: white;
    box-shadow: 0 3rem 6rem black;
    height: 50rem;
    width: 60rem;
    z-index: 200;
    display: block;
    border-radius: .5rem;
    top: 15%;
    left: 40rem;
    padding: 10rem ;
    padding-top: 2rem ;
    box-sizing: border-box;
    overflow: hidden;
    
}

.checkInModals{
    display: none;
}
.checkInMod{
    position: fixed;
    background-color: white;
    box-shadow: 0 3rem 6rem black;
    height: 50rem;
    width: 60rem;
    z-index: 200;
    display: block;
    border-radius: .5rem;
    top: 15%;
    left: 40rem;
    padding: 10rem ;
    padding-top: 2rem ;
    box-sizing: border-box;
    overflow: hidden;
    
}

.checkInModa{
    display: none;
}

.inputText{
    outline: none;
    width: 40rem;
    height:3rem;
    margin-bottom: 1rem;
    display: block;
    align-self: center;
    border: .1rem solid #deaa86 ;
}

.secondBox{
    margin-top: 10rem;
}

.line{
    width: 2.5rem;
    height: .2rem;
    background-color: #deaa86;
    margin-bottom:.6rem;
    

}

.line-1, .line-3{
    width: 1.5rem;
    transition: all .5s;
    transition-timing-function: ease-in-out;
    
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icon-list{
    list-style: none;
    height: 25rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color: #777;
    transition: color .3;
}

.social-link:hover{
    color: #deaa86;
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}


.navigation{
    left: -38rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background:linear-gradient(to top,rgba(34,32,41,1),rgba(34,32,41,.9) ),
     url("../images/nav-bg.jpeg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    z-index: 5; 
    transition: left .8s cubic-bezier(1,0,0,1);
}
.navigation-seach{
    position: relative;
}

.navigation-heading{
    font-family: 'josefin sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color:#deaa86;
    text-align: center;
}

.navigation-search-input{
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, .3);
    font-family: 'josefin sans', sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #555;
    border-radius: 10rem;
    transition: background-color .3s;
    text-align: center;
    
}
.navigation-search-input:focus{
    background-color: rgba(0, 0, 0, .1);
}

.navigation-search-btn{
    border: none;
    background-color: transparent;
    color: #deaa86;
    font-size: 1.7rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.navigation-list{
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation-link{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s;
}

.navigation-item{
    position: relative;
}

.navigation-link::before{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}

.navigation-link::after{
    content: "";
    width: 0;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1) ;
}

.navigation-link:hover{
    color: #deaa86;
}


.navigation-link:hover:after,
.navigation-link:hover::before{
width: 3rem;
}

.copyright{
    color: #fff;
    margin-bottom: 1.5rem;
    letter-spacing: .1rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
    border-right: .3rem solid #deaa86;
}
.checkbox:checked ~ .sidebar .line-1{

    transform: rotate(-406deg)  translate(-5px,6px);
    width: 2.5rem;
    background-color: #555;
}

.checkbox:checked ~ .sidebar .line-2{

    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3{

    transform: rotate(406deg) translate(-5px,-6px);
    width: 2.5rem;
    background-color: #4e1f1f;
}


.header{
    margin-left: 8rem;
    height: 100vh;
    background:linear-gradient(to top, rgba(0,0,0,4), rgba(0,0,0,.5)) 
    ,url(../images/header-1.jpeg) center no-repeat;
    background-size: cover;

}

.brand{
    display: flex;
    cursor: pointer;
}

.hotel-heading{
    font-family: 'josefin sans',sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: #deaa86;
    letter-spacing: .2rem;
}

.banner{
    color: #ddd;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-heading{
    font-family: 'josefin sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 3s;
}
.banner-paragraph{
    font-size: 3rem;
    font-weight: lighter;
    animation: anim 2s .5s backwards;
}
.banner-button{
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, gold,goldenrod);
    cursor: pointer;
    animation: anim 2.5s .8s backwards;
    
}

.banner-button:hover{
    background:linear-gradient(to left, gold,goldenrod);
}
.banner-button:active{
    transform: translateY(.3rem);

}

@keyframes anim{
    0%{
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* about us  */

.about-us{
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;

}

.about-us-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}
.about-us-heading{
    font-family: 'josefin sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
  
}
.small-underline{
    width: 9rem;
    height: .1rem;
    background-color: #b85d1c;
    margin: 0 auto 1rem auto;
}

.big-underline{
    width: 20rem;
    height: .1rem;
    background-color: #b85d1c;
    margin: auto;
}
.sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #b85d1c;
}

.about-us-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
    letter-spacing: .05rem;
}
.about-us-btn{
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
}
.btn-arrow{
    margin-left: .5rem;
    transition:  margin-left .4s;
}

.about-us-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}
.about-us-images{
    flex: 1 1;
    position: relative;
}

 .images{
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .7);
    border: .2rem solid #deaa86;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
} 

.images:hover{
    width: 38rem;
    z-index: 1;
} 


.image-1{
    transform: translate(-20%, -90%);
}


.image-2{
    transform: translate(-70%, -70%);
}

.image-3{
    transform: translate(-50%, -50%);
}

.image-4{
    transform: translate(-30%, -30%);
}


/* Rooms section */

.common-header{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}

.common-heading{
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .2rem;
}
.rooms{
    margin-left: 8rem;
    background-color: aliceblue;
    position: relative;
}
.room-card{
    width: 50rem;
    margin: 5rem;
    background-color: #151416;
    box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, .3);
    transition: box-shadow .5s .5s;
}

.room-card:hover{
    box-shadow: 3rem 3rem 10rem white;
}

.room-img{
    width: 100%;
}

.rooms-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-card-content{
    color: #ddd;
    padding: 2rem;

}
.room-card-heading{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

.room-card-paragraph{
    font-size: 1.5rem;
    color: #777;
}

.room-price{
    font-size: 3rem;
    font-weight: 300;
    text-align: right;
    margin: 0;
}

.room-card-btn{

    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: .1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
    border-radius: 10rem;
}

.room-card-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}

.rooms-btn-wrapper{
    text-align: center;
}

.rooms-btn{
     
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: transparent;
    text-transform: uppercase;
    color: #b85d1c;
    border: .2rem solid #b85d1c;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .2);
}
.rooms-btn:hover{
    color: #ddd;
    background-color: #b85d1c;

}

/* customer */

.customers{
    margin-left: 8rem;
    padding-bottom: 3rem;
    background-color: white;
    margin-bottom: 8rem;
}

.customer-paragraph{
    font-size: 1.5rem;
    color: #deaa86;
    width: 70%;
    margin: 2rem auto 8rem auto;
    text-align: center;
}

.customer-card-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.customer-card{
    background-color: #eee;
    width: 50rem;
    display: flex;
}

.customer-image{
    width: 20rem;
    margin-left: -1.3rem;
}

.customer-image-wrapper{
    margin: auto 0;
}
.customer-info{
    padding: 0 2rem;
}

.customer-fullname{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}

.customer-paragraph-1{
    font-size: 1.2rem;
    font-style: italic;
    color: #b85d1c;
}

.customer-paragraph-2{
    font-size: 1.3rem;
    font-style: italic;
}

/* footer */
.footer{
    margin-left: 8rem;
}

.main-part{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: #151416;
}
.footer-heading{
    font-size: 2.5rem;
    font-weight: 300;
    color: goldenrod;
    margin: 1rem 0 3rem 0;
}

/* .footer-list-wrapper{
    padding-left: 10rem;
} */
.footer-list{
    list-style: none;
    padding: 0;

}

.footer-list-item{
    margin-bottom: 2rem;
}

.footer-list-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #bbb;
}

.contact p{
    font-size: 1.5rem;
    color: #bbb;
    margin-bottom: 2rem;
}

.footer-form{
    display: flex;
}

.footer-input{
    width: 25rem;
    padding: 1rem;
    font-family: 'josefin Sans',sans-serif;
    font-size: 1.8rem;
    color: #444;
    outline: none;
    border: none;
    background-color: #eee;
}

.footer-btn{
    color: #ddd;
    background-color: #b85d1c;
    border: none;
    padding: 1rem;
    font-weight: 100;
    letter-spacing: .1rem;
}

.gallery{
    max-width: 45rem;
}

.image-wrapper{
    width: 12rem;
    margin: .4rem;
    overflow: hidden;
}
.footer-image{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s;
}

.gallery-images{
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover{
    transform: scale(1.3);
    opacity: .8;
}

.creator-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  
}

.copyright-text{
    font-size: 1.3rem;
    color: #252424;

}

.text-right{
    font-size: 1.4rem;
    color: #474545;

}

.text-right i{
    font-size: 2rem;
    margin: .5rem;
    color: tomato;
}

.text-right span {
    color: gold;
}

@media(max-width: 1150px){
    .customer-card-wrapper {
        flex-direction: column;
        align-items: center;
       
    }
    .customer-card:first-child{
        margin: 3rem;
    }

    .customer-card{
        width: 60rem;
    }

    .main-part{
       flex-direction: column;
        
    }

    .images{
        width: 28rem;
        left: 40%;
  
    } 
    




}
@media(max-width: 1000px){

    .about-us{
        flex-direction: column;
        padding-bottom: 20rem;
    }

    .about-us-content{
        margin-bottom: 13rem;
    }
    .images{
        width: 30rem;
        left: 50%;
       
    }
    .images:hover{
        width: 35rem;
        z-index: 1;
    } 
  

}

@media(max-width: 900px){

    .navigation{
      
        width: 25rem;
     
    }
    .navigation-search-input{
        width: 18rem;
      
        
    }


    .banner{
        text-align: center;
    }
    .banner-heading{
       font-size: 4.7rem;
    }
    .banner-paragraph{
        font-size: 2.6rem;

    }
    .banner-button{
        width: 16rem;
        font-size: 1.5rem;
    }

    .customer-card{
        width: 50rem;
    }

    .images{
        width: 23rem;
        left: 50%;
       
    }
    .images:hover{
        width: 25rem;
        z-index: 1;
    } 


    .customer-fullname{
        font-size: 1.5rem;
    }
    
    .customer-paragraph-1{
        font-size: 1.2rem;
    
    }
    
    .customer-paragraph-2{
        font-size: 1.3rem;
    }

}

@media(max-width: 500px){


 .customer-card{
    width: 25rem;
    flex-direction: column;
 }
.creator-part{
    flex-direction: column;
    padding: 0;

}
.copyright-text{
    font-size: 1rem;
;
}

.text-right{
    font-size: 1.1rem;
}

.text-right i{
    font-size: 1rem;
}


}
@media(max-width: 470px){
    .images{
        width: 15rem;
        left: 48%;
       
    }
    .images:hover{
        width: 19rem;
    }
}

@media(max-width: 400px){

    .about-us-content{
   
        padding: 3rem;
    }

    .images{
        width: 13rem;
        left: 48%;
       
    }
    .images:hover{
        width: 19rem;
        
    } 

    .footer-input{
        width: 10rem; 
        font-size: 1.2rem;
    }
  
}